.About{
    
    color:rgb(170, 170, 170);
    padding: 20px;
    text-align: center;
}
.aboutSection {
  width: 100%;
  height: auto;
  padding-bottom: 90px;
}
.layoutPadding {
  padding-top: 30px;
  padding-bottom: 0px;
}

.aboutSectioMain {
  width: 100%;

}
.row{
  --bs-gutter-x: 0rem !important;
  --mdb-gutter-x:0 !important;
}
.aboutTaitalMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 20px;

}

.aboutTaital {
  width: 100%;
  font-size: 44px !important;
  color: #474747;
  font-weight: bold;
  text-transform: uppercase;
}

.aboutText {
  width: 100%;
  font-size: 14px;
  color: #252525;
  margin: 0px;
}

.image3 {
  width: 100%;
  float: left;
  height: auto;
}
.readmoreBt {
  width: 170px;
  float: left;
  padding-top: 30px;
}

.readmoreBt a {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  background-color: #363636;
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.readmoreBt a:hover {
  color: #50504f;
  background-color: #ffffff;
}
.catagories{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap:wrap;
    gap: 20PX;
}

.cardsty{
  width: 80% !important;
  height:100% !important;
  padding: 20px 0px 0px 0px;
  margin-top: 30px;
}
.imagesty{
  width:200px !important;
  height: 200px !important;
  margin: auto;
 
}
.titsty{
  word-wrap: break-word;
font-size: 14px;
white-space: nowrap; /* Don't forget this one */
text-overflow: ellipsis;
overflow: hidden;
}
.row{
--bs-gutter-x: 0rem !important;
}
.About{
  display: flex;
  justify-content: center;
}
.About h2{
    font-size: 40px;
    color: #000000;
    
}
.glow{
    font-size: calc(10px + 6vh);
    line-height: calc(10px + 10vh);
  /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    color: #fccaff; */
    text-shadow: 0 0 5px #f1c676, 0 0 15px #f1c676, 0 0 20px #f1c676, 0 0 40px #f8c270, 0 0 60px #ff0000, 0 0 10px #f1aa53, 0 0 98px #ff0000;
      color: #fff6a9;
    text-align: center;
    animation: blink 8s ease-out infinite;
    -webkit-animation: blink 8s ease-out infinite;
}
.About p{
    font-size: 20px;
    color: #2c2c2c;
}
@-webkit-keyframes blink { 
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #f1c676, 0 0 15px #f1c676, 0 0 20px #f1c676, 0 0 40px #f1c676, 0 0 60px #ff0000, 0 0 10px #f1c676, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }
  
  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #f1c676, 0 0 15px #f1c676, 0 0 20px #f1c676, 0 0 40px #f1c676, 0 0 60px #ff0000, 0 0 10px #f1c676, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }
  @media (max-width:574px) {
  .rowmob{
    gap: 40px;
  }
  .cardsty{
    width: 80% !important;
}
}