.cardsty{
    width: 80% !important;
    height:100% !important;
    padding: 20px 0px 0px 0px;
    margin-top: 30px;
}
.imagesty{
    width:200px !important;
    height: 200px !important;
    margin: auto;
   
}
.titsty{
    word-wrap: break-word;
  font-size: 14px;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
  overflow: hidden;
}
.row{
  --bs-gutter-x: 0rem !important;
}
.catbg{
    background-color: #FEE140;
background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);

}
@media (max-width:574px){
    .cardsty{
        width: 80% !important;
    }

}